body{
    background-color: rgb(255, 255, 255);

}

header {
    background-color: rgb(255, 255, 255);
    color: black;
}

.nav .nav-link.nav-link.active{
    background-color: rgb(243, 243, 243);
    color: black;
}

.nav li a {
    color: black;
}

#PRAIA h2{
  
    font-size: 60px;
}


footer{
    background-color: rgb(248, 248, 248);
}

#SOCIAL li a{
    color: black;
}

#social-links li a  {
    text-decoration: none;
}

#SOCIAL li {
    list-style: none;
}